/*mobile*/
@media screen  and (min-width: 320px) and (max-width: 480px) {
    .col-12 {
        width: 100%;
        padding: 0;
    }

    #grey-line {
        width: 100%;
        height: 45px;
        background-color: #EEEFF2;
        position: static;
    }

    header {
        position: static;
        background: gray;
    }

    .container__wrap {
        position: absolute;
        z-index: 1;
        top: 15%;
    }

    .container__box {
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 50px;
    }

    .container__box p:nth-child(1) {
        color: var(--white-color);
        font-size: 30px;
        font-weight: 600;
        line-height: 140%;
    }

    .container__box p:nth-child(2) {
        color: var(--white-color);
        font-size: 15px;
        font-weight: 100;
    }

    .container__box__btns {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 24px;
    }


    #products {
        background: rgb(238, 239, 242);
        height: 100vh;
        padding: 38px 0 38px 0;
    }

    #products .products__text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    #products .products__text p {
        color: rgb(35, 31, 32);
        font-size: 20px;
        font-weight: 600;
        line-height: 50px;
    }

    #products .products__text a {
        color: rgb(35, 31, 32);
        font-size: 15px;
        line-height: 27px;
        display: flex;
        align-items: center;
        column-gap: 16px;
    }


    #about-company {
        height: 100vh;
    }

    #about-company .about-company__wrap {
        position: relative;
        background-image: url('../../assets/images/about-company-bgc.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 100%;
        height: 80vh;
    }

    #about-company .about-company__wrap .about-company__inside-wrapper {
        position: absolute;
        width: auto;
        top: 15px;
    }

    #about-company .about-company__wrap p {
        color: var(--white-color);
    }

    #about-company .about-company__wrap p:first-child {
        font-size: 30px;
        font-weight: 600;
        line-height: 50px;
        margin-bottom: 25px;
    }

    #about-company .about-company__wrap p:last-child {
        font-size: 11px;
        line-height: 25px;
    }

    #about-company .about-company__ghost {
        padding: 15px 0;
    }

    #about-company .about-company__ghost .about-company__box {
        display: flex;
        align-items: center;
        column-gap: 6px;
    }

    #about-company .about-company__ghost .about-company__box p {
        color: rgb(35, 31, 32);
        font-size: 8px;
        line-height: 15px;
    }

    #about-company .about-company__ghost .about-company__box img {
        width: 30%;
    }


    #services {
        height: auto;
        padding: 30px 0 50px 0;
    }

    #services .services__wrap .services__wrap__p {
        color: rgb(35, 31, 32);
        font-size: 35px;
        font-weight: 600;
        line-height: 50px;
        margin-bottom: 20px;
    }

    #services .services__wrap .box {
        position: relative;
        height: auto;
        padding: 30px 22px 20px 22px;
    }

    #services .services__wrap .box p:first-child {
        color: var(--white-color);
        font-size: 15px;
        font-weight: 600;
        line-height: 38px;
        margin-bottom: 5px;
    }

    #services .services__wrap .box p:nth-child(2) {
        color: var(--white-color);
        font-size: 10px;
        line-height: 24px;
    }

    #services .services__wrap .box button {
        position: absolute;
        right: 25px;
        bottom: 15px;
        border-radius: 5px;
        background: var(--white-color);
        padding: 5px 10px 5px 1px;
        width: 100px;
        height: 26px;
        border: none;
        color: rgb(35, 31, 32);
        font-size: 10px;
        line-height: 0;
        cursor: pointer;
    }


    #our-partners {
        height: auto;
        padding: 30px 0 50px 0;
    }

    #our-partners .our-partners__wrap {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #our-partners .our-partners__wrap .our-partners__text p:first-child {
        font-size: 30px;
        line-height: 10px;
        text-align: center;
        margin-bottom: 20px;
    }

    #our-partners .our-partners__wrap .our-partners__icons .box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }

    #for-partners {
        padding: 25px 0 40px 0;
    }

    #for-partners .for-partners__wrap p:first-child {
        color: var(--white-color);
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 28px;
        text-align: center;
    }

    #for-partners .for-partners__wrap .for-partners__inputs-wrap form {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 20px;
    }

    #for-partners .for-partners__wrap .for-partners__inputs-select {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    #for-partners .for-partners__wrap .for-partners__inputs-select p {
        color: var(--white-color);
        font-size: 10px;
        line-height: 10px;
    }

    #map {
        background-color: #EEEFF2;
        height: auto;
        padding: 0 0;
    }

    #map .map__wrap p {
        color: rgb(35, 31, 32);
        font-size: 30px;
        font-weight: 600;
        line-height: 30px;
        margin-bottom: 20px;
    }


    footer .footer__wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 20px;
    }

    footer .footer__wrap .footer__logo img {
        margin-bottom: 11px;
    }

    footer .footer__wrap .footer__logo p {
        color: var(--white-color);
        font-size: 12px;
        line-height: 16px;
    }

    footer .footer__wrap ul {
        display: flex;
        align-items: center;
        flex-direction: column;
        row-gap: 30px;
    }

    footer .footer__wrap ul li a {
        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
    }

    footer .footer__wrap .footer__contacts p:first-child {
        color: var(--white-color);
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
        margin-bottom: 17px;
        text-align: center;
    }

    footer .footer__wrap .footer__contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    footer .footer__wrap .footer__contacts .footer__box {
        display: flex;
        align-items: flex-start;
        justify-content: center;
        column-gap: 12px;
    }

    footer .footer__wrap .footer__contacts .footer__box p {
        color: var(--white-color);
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
    }

}
