:root{
    --swiper-scrollbar-border-radius: 10px;
    --swiper-scrollbar-top: auto;
    --swiper-scrollbar-bottom: 30px;
    --swiper-scrollbar-left: auto;
    --swiper-scrollbar-right: auto;
    --swiper-scrollbar-sides-offset: 450px;
    --swiper-scrollbar-bg-color: rgb(87, 88, 90);
    --swiper-scrollbar-drag-bg-color: var(--white-color);
    --swiper-scrollbar-size: 5px;
}

.swiper.main-swiper {
    position: relative !important;
    width: 100%;
    height: 100vh;
}

.swiper-slide.main-swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper-slide.main-swiper-slide img {
    width: 100%;
    height: 100vh;
}
